*{
    font-family: 'Staatliches', cursive;
}

lottie-player {
    margin: 0 auto;
}

/* scrolls along the page smoothly */
html {   scroll-behavior: smooth;  }

html, body {
    height: 100%;
}

/* ScrollToTop Button */
#btnScrollToTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #e62739;
    color:#ffffff;
    border: none;
    outline: 2px solid darkgrey;
    cursor: pointer;
}

#btnScrollToTop:hover{
    background:white;
    color:red;
}


/* --------------------------------------- Global Styles ------------------------------------ */

h2 {
    color: #000;
    font-size: 50px;
    font-weight: 900; 
}

.container-fluid{
    background-color: white;
    justify-content: flex-start;
}

/* Nav bar styles */

.nav-item{
    margin-left: 15px;
    margin-right: 15px;
    padding: 12px;
    padding-left: 10px;
    font-size: 28px;
}

.navbar {
    padding: 24px;
}

.nav-active {
    color: red;
}


#checkout-text, #name-text {
    color: black; 
    cursor: pointer;
    font-size: 50px;
}

/* Footer Styling */
footer {
    background-color: #000000;
    height: 5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
    font-size: 13px;
}

.btn.btn-primary {
    color: #FFF;
    background-color: black;
    margin-top: 5px;
}

.header-left-text {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
    padding: 24px 24px 24px 150px;
}

.header-text {
    padding: 24px;
    text-align: center;
}

.btn {
    padding:15px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: black;
    color: black;
    border-radius: 0;
}

.btn:hover, .btn-check:checked+.btn, .btn-check:active+.btn-outline-primary {
    background-color: black;
    border-color: black;
}

.btn-check:focus + .btn, .btn:focus {
    outline: 0;
}

.btn-danger {
    border: none;
    color: #FFF;
    margin-top: 24px;
}

.btn-danger:hover { 
    background-color: #000 
}


/* Popup modal */
.checkout-box {
    text-align: center;
    padding: 24px;
}

.checkout-box > form {
    margin-top: 24px;
}

.checkout-box > form > .form-group, .create-box > form > .form-group {
    margin-top: 24px;
    text-align: left;
}

.button-group {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

#checkoutModalButton {
    color:black;
    cursor: pointer;
}

/* Carousel styling */
.carousel {
    cursor: pointer;
}

.carousel-item {
    height: 75vh;
}

.carousel-item > a > img {
    position: relative;
    bottom: 15em;
}

.carousel-caption > h5 {
    text-align: left;
    font-size: 72px;
    font-weight: 900;
    width: 50%;
}

.carousel-caption > p {
    text-align: left;
    font-size: 24px;
    max-width: 20em;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    height: 3em;
    width: 1.5em;
    background-color: #999;
}


.carousel-feature-slide > img {
    position: relative;
    transform: rotate(350deg) scaleX(-1);
    left: 38%;
    max-width: 50vw;
}

.carousel-feature-slide > .carousel-caption {
    color: #000;
}

.carousel-feature-text {
    position: absolute;
    top: 20%;
    left: 11%;
}


.carousel-showcase-text {
    position: absolute;
    color: #ffffff;
    top: 15%;
    max-width: 40em;
}

/* Section styles */
.index-section {
    display: flex;
    flex-direction: column;
    padding: 48px;
}

.index-section > a {
    align-self: center;
    width: 200px;
}


.index-product-cards {
    display: flex;
    padding: 24px 0 24px 0;
    overflow-x: scroll;
    margin-bottom: 24px;
}

.trending, .latest {
    display: flex;
    justify-content: center;
}

/* Product Cards */
.card {
    height: 200px;
    min-width: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 12px;
    border-radius: 0;
}

.card:hover {
    border: red solid 1px;
    cursor: pointer;
}

.card > img {
    padding: 12px;
    max-width: 48%;
}

.card-body {
    display: flex;
    flex-direction: column;
}

/* Discover Styling */

.discover {
    padding: 24px;
    text-align: center;
}

.discover > .btn-group {
    margin: 24px 0 24px 0;
}

.discover > .cat-group {
    width: 300px;
}

.discover > .sort-group {
    margin-left: 24px;
    width: 200px;
}

.searchBar {
    display: flex;
    justify-content: center;
}

#searchBar {
    border-radius: 0;
    width: 48em;
    border: 2px;
    border-style: none none solid none;
    border-color: red;
    font-style: italic;
}

#searchBar:focus + #searchBar, #searchBar:focus {
    outline: 0;
    box-shadow: 0;
}

.searchButton {
    padding: 6px 10px 6px 10px;
    margin-left: 12px;
}


/* Product Styling */
.stars-outer {
    display: inline-block;
    position: relative;
    font-family: FontAwesome;
}
   
.stars-outer::before {
    content: "\f006 \f006 \f006 \f006 \f006";
}
   
.stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    color: #f8ce0b;
}

.stars-inner {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
}

.products-cards {
    margin-top: 24px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10%;
    display: flex;
    flex-wrap: wrap;
}

.products-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    border: 1px solid darkgrey;
    padding: 24px;
}

.products-card:hover {
    border: 2px solid red;
}

.products-card img {
    max-width: 100%;
    max-height: 70%;
}

.products-name {
    color: black;
    font-weight: normal;
    font-size: 25px;
}

.products-brand {
    color: red;
    font-size: 20px;
}

.products-list_price, .products-price {
    color: #000;
    font-size: 24px;
}

.products-rating{
    color: #000;
    font-weight: 900;
    font-size: 24px;
}

.pagination-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 42px;
}

.input-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-group > button {
    width: 42px;
}

.input-group > input {
    text-align: center;
    max-width: 60px;
}

.input-group p {
    margin: 0 0 0 0;
    padding-left: 12px;
}

.back-to-top {
    display: flex;
    justify-content: center;
    padding: 0 42px 42px 42px;
}

.product {
    display: flex;
    height: 82.2%;
    padding: 38px;
}

.product-header {
    font-size: 42px;
    font-weight: 900;
    color: #999;
    position: relative;
    top: -40px;
    left: 12px;
    background-color: #FFF;
    padding: 12px;
}

.product-img {
    border: #999 solid 1px;
    width: 50%;
}

.product-img > img {
    margin-left: 1%;
    width: 80%;
}

.product-info {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 70%;
}

.product-description, .product-brand, .product-category {
    color: #888;
}

.product-options {
    display: flex;
    margin-top: 24px;
}

.product-size > .btn-group {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    width: 120px;
}

.product-size {
    margin-right: 48px;
}

.size > .btn {
    width: 60px;
    margin-bottom: -1px;
}

.product-qty {
    display: flex;
    flex-direction: column;
}

.product-qty > .input-group > input {
    text-align: center;
    border: black solid 1px;
    max-width: 100px;
}

.product-qty > .input-group > button {
    width: 40px;
}

#cart-img:hover {
    cursor: pointer;
}

.add-to-cart-box {
    display: flex;
    justify-content: left;
    margin-top: 48px;
}

#addtoCart {
    width: 40%;
}

/* Spin N Win Game */
.spin-Box {
    background-color: black;
}

text{
    font-size:20px;
    pointer-events:none;
}

#chart{
    position:absolute;
    background-color: white;
    padding-right: 50px;
    width:600px;
    height:600px;
}

#nav-tab > .nav-link {
    padding-left: 16px;
}

/* Modal Styling */
.modal-content { border-radius: 0; }

.modal-title {
    color: #000;
    font-weight: bold;
    font-size: 40px;
}
.modal-body {
    padding-top: 0;
}

.modal-body > section {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.modal-body > form > .form-group { margin-bottom: 12px; }

.modal-body > div > p { margin: 0; }


/* Cart Styling */

.cart-header { padding: 38px }

.delete:hover {
    color: black;
}

.table-head {
    background-color: red;
    color: #FFF;
}

#img:hover {
    cursor: pointer;
}

.table-box .cart-product-img {
    align-content: center;
    max-width: 30%;
}

.table-box, .cart-form-box { 
    padding: 0 38px 38px 38px; 
    height: auto;
}

.cart-form-box > form > .form-group {
    margin-top: 30px;
}

.cart-form-box > form > .form-group > textarea {
    resize: none;
    height: 12em;
}

.table-box > p {
    float: right;
    cursor: pointer;
    width: 5em;
    color: #FF0000;
}

.total-cost-header { padding: 38px 38px 0 38px }

.black-button-box {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 20em;
    margin-top: 30px;
}

#checkout-text {
    color: white;
    font-size: 30px;
}

.delete {
    cursor: pointer;
    color: #FF0000;
}

/* Contact Styling */

.contact-link {
    text-decoration: none;
    color: black;

}

.contact-link:hover { color: red !important }

